.center{
    width: 420px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    position: relative;
    left: 50%;
    top: 100px;
    transform: translate(-50%,-50px);
    padding: 30px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
label{
    font-size: 16px;
}
span{
    cursor: pointer;
}
.pass{
    position: relative;
}

.pass input{
    position: absolute;
}

.pass img{
    z-index: 2;
    cursor: pointer;
    position: absolute;
    top:7px;
    right: 15px;
    width: 25px;
}

.forgetPassPara{
    position: relative;
    top: 45px;
}

.myClass{
    border: 1px solid red;
}

@media screen and (max-width: 500px) {
    .center{
        width: 90vw;
        border: 1px solid rgb(0, 0, 0);
        position: relative;
        left: 50%;
        top: 100px;
        transform: translate(-50%,-50px);
        padding: 30px;
        border-radius: 10px;
    }

    .role mat-form-field{
        width: 50vw;
    }
}