.createUserBtn{
    position: relative;
    right: 0;
    bottom: 0;
}
.table-responsive{
    /* overflow-x: hidden; */
    overflow-x: visible;
}
.updateDiv{
    width: 500px;
    position: absolute;
    border-top: 1px solid rgba(0, 0, 0, 0.15) ;
    border-left:1px solid rgba(0, 0, 0, 0.15) ;
    border-radius: 5px;
    top: 43%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: 1px solid rgb(105, 104, 104); */
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.roleRow{
    width:130px;
}

.roleSpan{
    margin-top: 20px;
}

.roleRow span{
    font-size: 14px;
}

.deleteAlert{
    position: absolute;
    top:60px;
    right: 10%;
}

.totalSel{
    width: 100px;
}

.pagination li{
    cursor: pointer;
}

.form-select{
    cursor: pointer;
}

.pass{
    position: relative;
}

.pass input{
    position: relative;
}


.pass img{
    z-index: 2;
    cursor: pointer;
    position: absolute;
    top:7px;
    right: 15px;
    width: 25px;
}
.targetedBtn a::before{
    position: absolute;
    top:0;
    width: 0;
    transition: 0s ease-in-out;
}

.targetedBtn a{
    background-color: #55acee;
}

@media screen and (max-width: 500px) {
    .updateDiv{
        width: 96vw;
        border-top: 1px solid rgba(0, 0, 0, 0.15) ;
        border-left:1px solid rgba(0, 0, 0, 0.15) ;
        border-radius: 5px;
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%,-50%);
        /* border: 1px solid rgb(105, 104, 104); */
        padding: 40px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .deleteAlert{
        position: absolute;
        top:60px;
        right: 0;
    }
    
}